<div class="modal" *ngIf="open" >
    <main class="container_modal">
        <div class="close">
            <button (click)="closeModal()">
                <mat-icon class="icon">close</mat-icon>
            </button>
        </div>
        <div class="description">
            <h3>{{dados?.titulo}}</h3>
            <p>{{dados?.descricao}}</p>
            <hr>
        </div>
        <div class="view">
            <img src="../../../assets/projects/System.gif">
            <ul>    
                <li><a>Link github</a></li>
                <li><a>Teste a aplicação</a></li>
            </ul>
        </div>
    </main>
</div>