<app-header></app-header>
<main>
    <div class="container">
        <div class="title">
            <h2>Experiência:</h2>
        </div>
        <mat-accordion *ngFor="let item of lista">
            <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                class="panel">
                <mat-expansion-panel-header class="panel_header">
                    <mat-panel-title class="panel_title">
                        {{item.titulo}}
                    </mat-panel-title>
                    <mat-panel-description class="panel_description">
                        {{item.ano}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <h2>{{item.empresa}}</h2>
                    <p>{{item.descricao}}</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <app-footer *ngIf="close" ></app-footer>
</main>