@import '../../../config_scss/rem-calc.scss';
@import '../style_scss/main.scss';

:host{
    main{
        .container{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
        }

        .box_image{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
     
            img{
                width: 90%;
                border-radius: rem-calc(10);
            }
            ul{
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                a{
                    width: rem-calc(60);
                    height: rem-calc(60);
                    margin: rem-calc(10) 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                a:hover{
                    border-radius: 12px;
                    border: 2px solid #ff3a5e;
                    cursor: pointer;
                }
                li{
                    img{
                        width: 40px;
                    }
                }
            }

        }
    } //Fim Box 

    .box_text{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: rem-calc(50) rem-calc(50);
        flex-wrap: wrap;
      
        
        .about{
            font-size: 1.5rem;
            font-weight: 500;
            color: #ff3a5e;
        }
        h2{
            font-size: 3rem;
            font-weight: 500;
            margin: rem-calc(18) 0;
            color: #E0E0E0;
            line-height: 100%;         
        }
        h3{
            font-size: 1.8rem;
            font-weight: 400;
            margin: rem-calc(15) 0;
            color: #c73abb;
        }
        p{
            width: 100%;
            font-size: 1rem;
            color:#d8d8d8;
            text-align: justify;
            word-break: break-all;
            line-height: 160%;
            margin-right:rem-calc(2);
        }
       
    }

    
    @media (max-width: 580px) {
        main{
        .container{
            display: flex;
            flex-direction: column;
            
            .box_image{
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 rem-calc(30);
            img{
                width: 20%;
                border-radius: rem-calc(10);
            }
            }
        }

        .box_text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: rem-calc(50) rem-calc(50);
            flex-wrap: wrap;
        }    
    }
    
    }

}



