<app-header></app-header>
<main>
    <div class="container">
        <div class="box_image">
            <img src="../../../assets/about.jpg">
            <ul>
                <a href="https://linkedin.com/in/kleber-andrade" target="_blank">
                    <li style="color:aliceblue"><img src="../../../assets/icons/icons8-linkedin-40.svg"></li>
                </a>
                <a href="https://github.com/kleber-a" target="_blank">
                    <li style="color: aquamarine;"><img src="../../../assets/icons/icons8-github-40.svg"></li>
                </a>
            </ul>
        </div>
        <div class="box_text">
            <h3 class="about">Quem sou</h3>
            <h2>Kleber Andrade</h2>
            <h3>FrontEnd Developer</h3>
            <p>Olá meu nome é Kleber sou um desenvolvedor FrontEnd, formado em Ciência da Computação e
                com experiência em Administração. Amo essa área e quero muito me tornar um Dev cada vez melhor e fazer grandes projetos com grandes impactos!
                Tenho experiência de estágio como Desenvolvedor Mobile onde aprendi novas tecnologias como React e vivênciei metodologias ágeis como Scrum, Jira e o Kanban. Tive interação com o Figma e
                postman. </p>
        </div>

    </div>
    <app-footer *ngIf="close"></app-footer>
</main>