.container {
  display: grid;
  grid-template-rows: 3rem 1fr;
  height: 100vh;
}


.workSpace {
  grid-row: 2;
  position: relative;
  overflow: hidden;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}