<footer>
      <div class="direitos">
          <p >© 2023 Exemplo. Todos os direitos reservados.</p>
        </div>
        <div class="titulo">
          <p>{{dadosFooter?.subject_matter}}</p>
        </div>
        <div class="contato">
          <ul >
            <li><p>{{dadosFooter?.contact.name}} | </p></li>
            <li><p> {{dadosFooter?.contact.tel}} | </p></li>
            <li><p><a style="color: #e0e0e0;" href="mailto:enacom@enacom.com.br"> {{dadosFooter?.contact.email}} | </a></p></li>
          </ul>
        </div>
  </footer>
 
  
  
  